.contact {
  .container {
    .row {
      h3 {
        font-family: 'Oswald';
      }

      button {
        background-color: #003057;
        color: #fff;
        width: 200px;
      }


    }

    .Areas {
      background-color: #003057;
      color: #fff;
      font-weight: 800;
    }
  }
}