.contact {
  .container {
    .row {
      h3 {
        font-family: 'Oswald';
      }

      button {
        background-color: #003057;
        color: #fff;
        width: 200px;
      }


    }

    .Areas {
      background-color: #003057;
      color: #fff;
      font-weight: 800;
      font-family: 'Oswald';

      ul {
        li {
          cursor: pointer;
          margin-bottom: 10px;
        }
      }

    }
  }

  i {
    cursor: pointer;
  }
}