<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <p>
          Call us for the bathroom remodeling or window installation services
          you need. If we miss your call for any reason, we'll get back to you
          the very same day.
        </p>
        <br />
        <h3 class="m-0">Century City Baths & Windows</h3>
        <div class="py-3">
          <i class="pi pi-map-marker"></i>
          712 Thomas Drive Bensenville , IL 60106
        </div>
        <button class="btn">Get Directions</button>
        <h5 class="fw-bold mt-4">Serving</h5>
        <p>Chicago and the Chicagoland Area and surrounding areas</p>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="time d-flex gap-4">
          <div class="d-flex flex-row w-50 gap-2">
            <i class="pi pi-clock mt-1"></i>
            <div class="d-flex flex-column gap-2">
              <span>Everyday</span>

            </div>
          </div>
          <div>
            <div class="d-flex flex-column">
              <span>9:00 am - 7:00 pm</span>
            </div>
          </div>
        </div>
        <div class="contact d-flex flex-row gap-2 py-2">
          <i class="pi pi-phone mt-1"></i>
          <div>
            <p class="m-0">
              <strong>Main Phone: </strong>
              <a href="tel:(309) 487-2105">(309) 487-2105</a>
            </p>

          </div>
        </div>
        <div class="mony">
          <img src="https://cdn.websites.hibu.com/-resellers-preview/_cc_icons/americanexpress_d.svg"
            alt="American Express" width="42" class="m-1" />
          <img src="https://cdn.websites.hibu.com/-resellers-preview/_cc_icons/cash_d.svg" alt="Cash" width="42"
            class="m-1" /><img src="https://cdn.websites.hibu.com/-resellers-preview/_cc_icons/check_d.svg" alt="Check"
            width="42" class="m-1" /><img
            src="https://cdn.websites.hibu.com/-resellers-preview/_cc_icons/discover_d.svg" alt="Discover"
            width="42" /><img src="https://cdn.websites.hibu.com/-resellers-preview/_cc_icons/financing_d.svg"
            alt="Financing" width="42" class="m-1" /><img
            src="https://cdn.websites.hibu.com/-resellers-preview/_cc_icons/mastercard_d.svg" alt="MasterCard"
            width="42" class="m-1" /><img src="https://cdn.websites.hibu.com/-resellers-preview/_cc_icons/visa_d.svg"
            alt="Visa" width="42" class="m-1" /><img
            src="https://cdn.websites.hibu.com/-resellers-preview/_cc_icons/zelle_d.svg" alt="Zelle" width="42"
            class="m-1" />
        </div>
      </div>
    </div>
    <div class="row align-items-center d-flex flex-wrap justify-content-center py-2 Areas">
      <h3 class="text-center py-2">Areas We Serve</h3>
      <div class="col-md-4 justify-content-center align-items-center d-flex">
        <ul style="list-style: none">
          <li routerLink="/bathroom-remodel/arlington-heights-il">
            <i class="pi pi-map-marker">Arlington Heights,IL</i>
          </li>
          <li routerLink="/bathroom-remodel/aurora-il">
            <i class="pi pi-map-marker">Aurora,IL</i>
          </li>
          <li routerLink="/bathroom-remodel/batavia-il">
            <i class="pi pi-map-marker">Batavia,IL</i>
          </li>
          <li routerLink="/bathroom-remodel/chicago-il">
            <i class="pi pi-map-marker">Chicago,IL</i>
          </li>
          <li routerLink="/bathroom-remodel/crystal-lake-il">
            <i class="pi pi-map-marker">Crystal Lake,IL</i>
          </li>
          <li routerLink="/bathroom-remodel/des-plaines-il">
            <i class="pi pi-map-marker">Des Plaines,IL</i>
          </li>
          <li routerLink="/bathroom-remodel/elgin-il">
            <i class="pi pi-map-marker">Elgin,IL</i>
          </li>
          <li routerLink="/bathroom-remodel/elk-grove-village-il">
            <i class="pi pi-map-marker">Elk Grove Village,IL</i>
          </li>
          <li routerLink="/bathroom-remodel/elmhurst-il">
            <i class="pi pi-map-marker">Elmhurst,IL</i>
          </li>
          <li routerLink="/bathroom-remodel/elmwood-park-il">
            <i class="pi pi-map-marker">Elmwood Park,IL</i>
          </li>
        </ul>
      </div>
      <div class="col-md-4 justify-content-center align-items-center d-flex">
        <ul style="list-style: none">
          <li routerLink="/bathroom-remodel/evanston-il">
            <i class="pi pi-map-marker">Evanston, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/geneva-il">
            <i class="pi pi-map-marker">Geneva, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/glen-ellyn-il">
            <i class="pi pi-map-marker">Glen Ellyn, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/glenview-il">
            <i class="pi pi-map-marker">Glenview, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/joliet-il">
            <i class="pi pi-map-marker">Joliet, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/libertyville-il">
            <i class="pi pi-map-marker">Libertyville, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/lombard-il">
            <i class="pi pi-map-marker">Lombard, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/monee-il">
            <i class="pi pi-map-marker">Monee, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/northbrook-il">
            <i class="pi pi-map-marker">Northbrook, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/orland-park-il">
            <i class="pi pi-map-marker">Orland Park, IL</i>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul style="list-style: none">
          <li routerLink="/bathroom-remodel/palos-heights-il">
            <i class="pi pi-map-marker">Palos Heights, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/palos-park-il">
            <i class="pi pi-map-marker">Palos Park, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/plainfield-il">
            <i class="pi pi-map-marker">Plainfield, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/schaumburg-il">
            <i class="pi pi-map-marker">Schaumburg, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/south-elgin-il">
            <i class="pi pi-map-marker">South Elgin, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/tinley-park-il">
            <i class="pi pi-map-marker">Tinley Park, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/westmont-il">
            <i class="pi pi-map-marker">Westmont, IL</i>
          </li>
          <li routerLink="/bathroom-remodel/wood-dale-il">
            <i class="pi pi-map-marker">Wood Dale, IL</i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>