.contact {
  .container {
    .row {
      h3 {
        font-family: 'Oswald';
      }

      button {
        background-color: #003057;
        color: #fff;
        width: 200px;
      }


    }

    .Areas {
      border-radius: 20px;
      background-color: #003057;
      color: #fff;
      font-weight: 800;
      font-family: 'Oswald';


      li {
        cursor: pointer;
        margin-bottom: 10px;
        background-color: #034072;
        padding: 5px;
        border-radius: 10px;
        text-align: center;
        margin: 10px auto;

      }
    }

  }
}

i {
  cursor: pointer;
}