<section class="walk-in-showers">
  <div class="container">
    <div class="row flex-wrap flex-column flex-md-row">
      <div class="col-lg-7 col-md-12">
        <h2>TRANSFORM YOUR UNUSED TUB INTO A STUNNING SHOWER WITH EASE.</h2>
        <p>
          Are you stuck with an outdated tub that rarely sees any use? Are you
          hesitant about the remodeling process to upgrade it? Look no further!
          Century City Baths and Windows specializes in converting your old tub
          into a gorgeous, rejuvenating shower. Prepare to be pleasantly
          surprised by how effortless the process is, and get ready to revel in
          the delights of your brand new bath
        </p>
        <h2>DURABLE SHOWERS THAT STAND THE TEST OF TIME!</h2>
        <p>
          Forget about acrylic systems! Our team of skilled installers will go
          the extra mile by removing your old tub and surrounding materials.
          We'll replace them with a superior solution: a fully waterproof
          backing and exquisite tiling, resulting in a stunning and easily
          accessible shower. Our reputation is built on speedy service and
          exceptional craftsmanship, and to prove our confidence in our work, we
          offer a lifetime guarantee on our waterproof tile system
        </p>
        <h2>FAST, EASY, & CUSTOMIZED Our process includes:</h2>
        <ul>
          <li>schedule your FREE, in-home design consultation</li>
          <li>choose from a large selection of style options</li>
        </ul>
        <br />
        <h2>Then We Get To Work:</h2>
        <ul>
          <li>removal and hauling away of old materials</li>
          <li>repair any issues behind the walls</li>
          <li>installation of new waterproof tiling system</li>
          <li>thorough clean-up</li>
          <p>
            You will love the look of your new shower, and we will work with
            your needs and budget to ensure you get results that meet and exceed
            your expectations
          </p>
          <strong>Check out our reviews and project galleries. </strong>
          <p>
            Breathe new life into your bathroom by transforming your outdated
            bathtub into a beautiful and easily accessible shower. Call now for
            a free quote at <a href="tel:+13094872105"></a>
          </p>
        </ul>
        <h3>Full-Service Bathroom Remodeling Services</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/bathtub-replacement">
              Bathtub replacement
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/walk-in-showers">
              Walk-in showers
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/shower-to-tub">
              Shower conversions
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/flooring">Renovations</button>
          </li>
          <li><button class="btn" routerLink="/flooring">Flooring</button></li>
          <li><button class="btn" routerLink="/flooring">And more!</button></li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>
