<section class="bathtub-replacement">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>New Casement Replacement Windows</h2>
        <p>
          Casement windows are a stylish and practical option when choosing
          replacement windows for your home. Casement windows offer many
          advantages over traditional windows, adding beauty and value to your
          home.
        </p>
        <p>
          Hinged at either the left or right side, casement windows swing
          outward via a hand-operated mechanism. The crank is usually near the
          bottom of the window for ease of operation. These windows are perfect
          for hard-to-reach areas like above kitchen sinks, in basements of over
          cabinets.
        </p>
        <p>
          At Century City Baths & Windows, we put the customer first. Our goal
          is to help you beautify your home with the windows and doors you want
          and need, whether you are looking for traditional double-hung windows,
          casement windows, sliders, or something else. We will help you chose
          the right products for your needs and expertly install them to ensure
          their longevity and your overall satisfaction.
        </p>

        <h2>Why Choose Casement Replacement Windows?</h2>
        <ul>
          <li>
            <strong>Optimal Views </strong> Casement windows do not have as many
            internal working parts between the two panes of glass, as other
            types of windows do. That gives you a cleaner line and a clearer,
            unobstructed view off the outdoors.
          </li>
          <li>
            <strong>Enhanced Security </strong>using a hook-shaped locking
            mechanism embedded in the frame provides the highest level of safety
            for you and your family.
          </li>

          <li>
            <strong>Maximum Ventilation</strong> Because they open outward,
            these windows let in an abundance of fresh air by catching side
            breezes that funnel fresh air into your home.
          </li>
          <li>
            <strong>Limitless Design Choices</strong> You can custom order your
            casement windows in different sizes, colors, glass options, along
            with decorative grids to achieve the look you want for your home.
          </li>
        </ul>
        <p>
          Because we are dedicated to putting the customer first, we offer only
          the finest quality products. We’re committed to providing windows that
          are beautiful, functional, energy-efficient, and durable for decades
          to come. We back up our products and workmanship with a guarantee you
          won’t get from our competitors.
        </p>
        <p>
          Call Century City Baths & Windows at (309) 487-2105 for a FREE quote
          and an in-home consultation.
        </p>

        <h3>Learn More About our Replacement Window Options:</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/Double-Hung">
              Double Hung Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Casement-Replacement">
              Casement Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/shower-to-tub">
              Slider Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Bay-and-Bow">
              Bay/Bow Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Shapes-and-Picture">
              Fixed/Picture Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Patio-Door">Patio Doors</button>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>