<section class="bathtub-replacement">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>Commitment to Quality:</h2>
        <p>
          Century City Kitchens is committed to using only the finest materials
          in every kitchen we create. We understand that the quality of
          materials is fundamental to the durability, functionality, and beauty
          of your kitchen. That’s why we source materials from the most
          reputable suppliers, ensuring that every element of your kitchen is
          built to last.
        </p>

        <h2>Beautiful and Durable Countertops</h2>
        <p>
          Our countertops are crafted from premium natural stones like granite
          and marble, offering unmatched beauty and resilience. For those
          seeking a more contemporary look, we provide options such as
          engineered quartz, which combines the beauty of natural stone with
          enhanced durability. Our flooring options range from solid hardwoods,
          known for their timeless elegance and warmth, to cutting-edge
          porcelain tiles that offer both style and durability.
        </p>
        <h2>Eco-Friendly Options</h2>
        <p>
          In addition to stone and wood, we offer a selection of
          high-performance laminates and sustainable materials for those looking
          to reduce their environmental footprint without compromising on
          quality or design. These materials are not only eco-friendly but also
          resistant to wear and tear, making them ideal for the high-traffic
          areas of your kitchen.
        </p>
        <h2>Attention to Detail</h2>
        <p>
          We also pay meticulous attention to the finishes and fixtures in your
          kitchen. From the gleam of stainless-steel appliances to the soft glow
          of under-cabinet lighting, every detail is chosen to complement your
          overall design and enhance the functionality of your space. Our
          hardware options include an array of handles and knobs in various
          finishes, from brushed nickel to antique brass, each selected to add
          the perfect finishing touch to your kitchen.
        </p>
        <h2>Superior Kitchens</h2>
        <p>
          At Century City Kitchens, we believe that superior materials are the
          foundation of superior kitchens. By choosing only the best, we ensure
          that your kitchen not only looks beautiful but also stands the test of
          time. Our commitment to quality means that every surface, every
          cabinet, and every fixture is crafted with care and designed to
          endure, providing you with a kitchen that is as durable as it is
          beautiful
        </p>
        <p>
          Call Century City Baths & Windows at
          <a href="tel:+13094872105">(309) 487-2105</a>
          for a FREE quote and an in-home consultation.
        </p>

        <h3>Learn More About our kitchens Options:</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/Energy-Efficient">
              Design & Planning
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Double-Hung">
              Custom Cabinetry
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Casement-Replacement">
              Premium Materials
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Bay-and-Bow">
              Innovative Solutions
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Sliding-Replacement">
              Countertops
            </button>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>
