<section class="walk-in-showers">
  <div class="container">
    <div class="row flex-wrap flex-column flex-md-row">
      <div class="col-lg-7 col-md-12">
        <h2>Looking to Convert your old bathroom to a new bathroom?</h2>
        <p>
          Is your bathroom looking a little worse for wear? Are you yearning for a soaking tub to melt away the
          stress? It may be time for a bathroom conversion. And Century City Baths and Windows can help!
        </p>
        <p>
          We are Chicagoland's top-rated, one-stop-shop for bathroom remodeling and have years of experience
          converting bathroom.
        </p>
        <h2>What type of bathroom is right for you?</h2>

        <ul>
          <li>
            <strong>Soaking Tubs :</strong>These deep bathtubs are the most
            basic tub style, mainly consisting of a water basin you can relax
            in. Despite its lack of features, a soaking tub could be perfect for
            your needs if you just want to take the occasional bath.
          </li>
          <li>
            <strong>Jacuzzi tubs: </strong>With jetted tubs, you can bring the hot tub experience into your bathroom.
            Choose this tub variety if you would like to get the most relaxing bath experience.
          </li>
          <li>
            <strong>Combined showers and tubs: </strong>: Does your bathroom have room for a shower stall or bathtub but
            not both? We can combine a new tub and shower, so you have the option of both.
          </li>
        </ul>
        <p>
          We provide in-home consultations, affordable pricing, and quick, high-quality service. If you have questions
          about whether a bathroom conversion is right for you, reach out to us today, and our team of professionals
          will help you select the perfect solution for your remodeling needs!
        </p>
        <p>
          Get in touch with us at <a href="tel:+(309) 487-2105 ">(309) 487-2105 </a>or by filling
          out the short form on this page. We’ll be happy to get back to you
          quickly.
        </p>
        <h3>Full-Service Bathroom Remodeling Services</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/bathtub-replacement">
              Bathtub replacement
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/walk-in-showers">
              Walk-in showers
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/shower-to-tub">
              Shower conversions
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/flooring">Renovations</button>
          </li>
          <li><button class="btn" routerLink="/flooring">Flooring</button></li>
          <li><button class="btn" routerLink="/flooring">And more!</button></li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>