<section class="py-5">
  <div class="container">
    <div class="row justify-content-center align-items-center d-flex flex-wrap">
      <h2 class="text-center py-3">
        Century City Baths' Award-Winning Services
      </h2>
      <p class="text-center">
        Enjoy expert home renovations—and a level of service that is becoming
        harder to find.
      </p>
      <p-card class="col-md-3">
        <div class="justify-content-center align-items-center">
          <div class="justify-content-center align-items-center d-flex">
            <img src="../../../assets/home/icon-warranty.png" alt="" />
          </div>
          <div class="justify-content-center align-items-center d-flex">
            <h6 class="text-center">Lifetime Warranties</h6>
          </div>
        </div>
      </p-card>
      <p-card class="col-md-3">
        <div class="justify-content-center align-items-center">
          <div class="justify-content-center align-items-center d-flex">
            <img src="../../../assets/home/icon-award.png" alt="" />
          </div>
          <div class="justify-content-center align-items-center d-flex">
            <h6 class="text-center">Award Winning</h6>
          </div>
        </div>
      </p-card>
      <p-card class="col-md-3">
        <div class="justify-content-center align-items-center">
          <div class="justify-content-center align-items-center d-flex">
            <img src="../../../assets/home/icon-family.png" alt="" />
          </div>
          <div class="justify-content-center align-items-center d-flex">
            <h6 class="text-center">Family Owned</h6>
          </div>
        </div>
      </p-card>
      <p-card class="col-md-3">
        <div class="justify-content-center align-items-center">
          <div class="justify-content-center align-items-center d-flex">
            <img src="../../../assets/home/icon-workmanship.png" alt="" />
          </div>
          <div class="justify-content-center align-items-center d-flex">
            <h6 class="text-center">Quality Workmanship</h6>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</section>