.gallery {
    .container {

        h3,
        h4 {
            color: #2D4EA1;
        }

        .dataBathroom {
            h4 {
                margin-bottom: 25px;
            }

            p-card {
                cursor: pointer;

                .p-card .p-card-body {
                    padding: 0px !important;

                }
            }
        }

        .dataWindow {
            p-card {
                cursor: pointer;
            }

        }
    }
}