<section class="py-5 gallery">
  <div class="container">
    <h3>
      Discover Our Stunning Recent Projects at Century City Baths and Windows!
    </h3>
    <p>
      Our recent project gallery showcases the stunning transformations we've
      accomplished for our clients, from energy-efficient window replacements to
      luxurious bathroom renovations. At Century City Baths and Windows, we're
      committed to providing top-quality services that exceed your expectations.
      If you're looking to transform your home, contact us at
      <a href="tel:+13094872105">(309) 487-2105</a>
      to schedule a free in-home estimate.
    </p>
    <div class="dataBathroom py-5">
      <h4>Recent Bathroom Projects</h4>
      <div class="row align-items-center d-flex flex-wrap gap-1">
        @if(spinner){
        <app-spinner></app-spinner>
        }@else
        {
        <div class="col-md-3 py-3" *ngFor="let image of bathroomsImages">
          <div>
            <img [src]="image" [alt]="image.alt" class="w-100" height="250" (click)="showGallery()" />
          </div>
        </div>
        }
      </div>
    </div>
    <div class="dataWindow py-5">
      <h4>Recent kitchen Projects</h4>
      <div class="row align-items-center d-flex flex-wrap gap-3">
        @if(spinner){
        <app-spinner></app-spinner>
        }@else{
        <div class="col-md-3" *ngFor="let image of windowsImages">
          <div (click)="showGallery()">
            <img [src]="image" [alt]="image.alt" class="w-100" />
          </div>
        </div>}
      </div>
    </div>

    <div *ngIf="displayBasic">
      <p-galleria [value]="windowsImages" [(visible)]="displayBasic" (visibleChange)="closeGallery()"
        [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '850px' }" [numVisible]="7"
        [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false">
        <ng-template pTemplate="item" let-item>
          <img [src]="item" style="width: 100%; display: block" />
        </ng-template>
      </p-galleria>
    </div>
  </div>
</section>