<section class="surrounding">
  <div class="container">
    <div class="row ">
      <div class="col-lg-7 col-md-12">
        <h2>Get the Bathroom Oasis You've Always Wanted</h2>
        <p>If you want your bathroom remodeled, Century City Baths & Windows offers bathroom remodeling at prices you
          can afford. We are one of the few bathroom remodelers in the Chicagoland area that offers full-service
          bathroom remodeling. We do it all from top to bottom!</p>
        <br>
        <h2>Renovate Your Bathroom!</h2>
        <p>Bathroom remodeling is an exciting way to transform your home and add value. Creating a beautiful custom
          bathroom with the finishes that match your style and needs can become a difficult task.

          <br><br>

          However, at Century City Baths and Windows we make it easy, stress free and affordable!
        </p>



        <h3>Full-Service Bathroom Remodeling Services
        </h3>
        <ul>
          <li>Bathtub Casement-Replacement</li>
          <li>Walk-in showers</li>
          <li>Tub to Shower Conversions</li>
          <li>Electrical, Plumbing, Painting</li>
          <li>Flooring, Tile, Fixtures, and More!</li>

        </ul>
        <h3>Our Simple Remodeling Process:</h3>
        <ul>
          <li>Design: A Century City consultant meets you in your home and guides you through a
            product selection process to create the custom bath of your dreams.</li>
          <li>Removal: Your existing bathtub, shower, and fixtures are removed, including tile, down to the studs. We
            then thoroughly clean and prepare the area.</li>
          <li>Installation: New waterproof backing, tile, and all the fixtures and finishing touches will be completed
            by our highly trained installers.</li>
          <li>LIFETIME WARRANTY: We stand behind our work and give you a lifetime warranty on all tile work. It will be
            waterproof!</li>
        </ul>
        <a routerLink="/gallery">Check out some of our work:</a>
        <br><br>
        <h2>WE OFFER THE BEST VALUE IN BATHROOM REMODELING</h2>
        <p>Whether you are looking to makeover your master bath, a guest bath, or a powder room,

          Century City Baths and Windows makes it easy, stress free, and affordable. We will coordinate every aspect of
          your bathroom remodeling with our experienced installers, brand-name materials, and outstanding customer
          service. And we back our work with a lifetime guarantee!

          <br><br>

          Call us today at (312) 212-0698 or fill out our short form to get a free bathroom remodeling consultation and
          estimate.
        </p>

        <ul class="list-unstyled ">
          <li><button class="btn" routerLink="/bathtub-replacement"> Bathtub replacement</button></li>
          <li> <button class="btn" routerLink="/walk-in-showers">Walk-in showers</button></li>
          <li><button class="btn" routerLink="/shower-to-tub">Shower conversions</button></li>
          <li><button class="btn" routerLink="/flooring">Renovations</button></li>
          <li><button class="btn" routerLink="/flooring">Flooring</button></li>
          <li><button class="btn" routerLink="/flooring">And more!</button></li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>