<section class="shapes-and-pictures">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>New Shape or Picture Replacement Windows</h2>
        <p>
          Ready to replace your windows but have a creative idea that
          traditional windows just won’t fit? Well, consider a specially shaped
          window which offers maximum creativity for your next project. Curves,
          angles, arches, circles, ovals, octagons, we can do it all. These
          fixed glass geometric shaped windows will enhance the architecture of
          any home and can be standalone or combined with other window styles to
          create a beautifully unique window.
          <br />
          <br />

          Picture windows are usually a large, fixed windows that provides
          unobstructed views while also flooding your home with natural light,
          making even a small space feel larger. With our replacement windows,
          you do not have to sacrifice energy efficiency. Our windows feature
          energy-efficient glass, weather stripping and other features that keep
          your home comfortable, weather tight, and your energy bills in check.
        </p>

        <h2>Benefits of a Picture Window:</h2>

        <ul>
          <li>Create expansive and maximum views!</li>
          <li>Improved energy performance.</li>
          <li>Can be customized.</li>
          <li>Opens your home.</li>
          <li>Unlimited design possibilities</li>
        </ul>
        <p>
          Century City Baths & kitchens brings experience to your window
          replacement project and our easy process can have your new windows
          installed in no time. Our experts can create the exact look you want
          by combining a wide variety of shapes and sizes.

          <br /><br />

          For more information or to schedule an in-home consultation, call<a
            href="tel:+13094872105"
            >(309) 487-2105</a
          >
          or request online.
        </p>
        <h2>Learn More About our Replacement Window Options:</h2>
        <ul>
          <li>
            <strong>Low maintenance: </strong> these windows are easy to clean
            and can be removed from their tracks to allow for thorough cleaning
            of the inside and outside surfaces
          </li>
          <li>
            <strong>Ease of operation: </strong> sliding effortlessly
            horizontally on their tracks eliminates the need to lift heavy,
            traditional windows.
          </li>
          <li>
            <strong>Minimal maintenance: </strong> sliding windows have fewer
            parts than conventional windows, meaning less chance of breaking
            vital parts that control operation.
          </li>
          <li>
            <strong>Energy efficiency:</strong> you can add special coatings to
            increase insulation and reduce energy bills.
          </li>
        </ul>
        <p>
          If you are looking for new windows that are modern, easy to operate
          and incredibly functional, our replacement sliding windows are a
          perfect choice. At Century City Baths & Windows, we promise you the
          highest quality and selection of products. Best in customer service.
          Exceptional results, ensuring your new sliding windows live up to your
          expectations and last for years to come.

          <br /><br />

          When we sit down to discuss your project, we not only guarantee you’ll
          be happy with your new sliding windows, sliding patio door, or other
          windows, we back up our products with a guarantee you will find
          nowhere else.

          <br /><br />
          For a FREE quote or to schedule an in-home consultation contact us
          online now or call (309) 487-2105.
        </p>

        <h3>Learn More About our Replacement Window Options:</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/Double-Hung">
              Double Hung Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Casement-Replacement">
              Casement Windows
            </button>
          </li>
          <li><button class="btn" routerLink="/">Slider Windows</button></li>
          <li>
            <button class="btn" routerLink="/Bay-and-Bow">
              Bay/Bow Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Shapes-and-Picture">
              Fixed/Picture Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Patio-Door">Patio Doors</button>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>
