<section class="bathtub-replacement">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>Artistry and Precision</h2>
        <p>
          Our custom cabinetry at Century City Kitchens is a testament to the
          artistry and precision that defines our work. We believe that
          cabinetry should be more than just functional—it should be a
          reflection of your personal style and a cornerstone of your kitchen's
          design. Each cabinet we craft is tailored to fit your space perfectly,
          ensuring that it not only serves its purpose but also enhances the
          overall aesthetic of your kitchen.
        </p>
        <br />

        <h2>Quality Materials and Craftsmanship</h2>
        <p>
          We start by selecting the highest quality materials, from rich
          hardwoods to eco-friendly alternatives, each chosen for its durability
          and beauty. Our skilled craftsmen then bring your vision to life,
          meticulously shaping and finishing each piece to meet our exacting
          standards. Whether you prefer the sleek, modern lines of contemporary
          cabinetry or the warm, intricate details of traditional designs, we
          deliver cabinetry that is both stunning and built to last.
        </p>
        <h2>Innovative Storage Solutions</h2>
        <p>
          Our custom cabinets are designed with your lifestyle in mind, offering
          innovative storage solutions that make organization effortless. Deep
          drawers, pull-out shelves, hidden compartments, and integrated
          lighting are just a few of the features that can be customized to your
          needs. We also offer a wide range of finishes, from classic stains to
          bold paints, allowing you to create a kitchen that is uniquely yours.
        </p>
        <h2>Form Meets Function</h2>
        <p>
          At Century City Kitchens, we pride ourselves on our ability to blend
          form and function seamlessly. Our cabinetry is not just about creating
          storage; it’s about enhancing the beauty and usability of your
          kitchen. Each piece is a work of art, designed to bring joy and
          efficiency to your daily life. With our custom cabinetry, your kitchen
          will be a space where craftsmanship and creativity meet.
        </p>
        <p>
          Contact Century City Baths & Windows for a free quote, or call us at
          <a href="tel:+13094872105">(309) 487-2105</a>
          for more information about the benefits of our double-hung windows.
        </p>

        <h3>Learn More About our Replacement Window Options:</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/Energy-Efficient">
              Design & Planning
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Double-Hung">
              Custom Cabinetry
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Casement-Replacement">
              Premium Materials
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Bay-and-Bow">
              Innovative Solutions
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Sliding-Replacement">
              Countertops
            </button>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>
