<section class="bathtub-replacement">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>New Double-Hung Replacement Windows</h2>
        <p>
          Double-hung windows are one of the more popular replacement windows
          for homes in and around the Chicagoland area. Known for their
          traditional appearance, they look great in any style of home. At
          Century City Baths & Windows, we offer very functional and
          energy-efficient options.
        </p>
        <br />
        <ul>
          <li>
            Our double-hung windows come in a variety of sizes, materials,
            colors, and options.
          </li>
          <li>
            Our competitive prices, high-quality products, and commitment to
            customer service make for an enjoyable experience from start to
            finish.
          </li>
          <li>
            We offer convenient, fast, and free in-home consultations, and we’ll
            be sure to bring plenty of product samples to your home. Request a
            free estimate today!
          </li>
        </ul>
        <h2>What is a double-hung window?</h2>
        <p>
          Double-hung windows are composed of two movable sashes that are
          slightly offset from one another, which allows you to open and close
          vertically within a window farm. The upper can be lowered and the
          bottom can be raised to create ventilation. The window sashes tilt, so
          you can easily reach the outside surface for cleaning as needed.
        </p>
        <h2>Why choose double-hung windows?</h2>
        <ul>
          <li>
            <strong>Convenience </strong> They are easy to clean, convenient to
            operate and offer excellent ventilation
          </li>
          <li>
            <strong>Comfort</strong>double-hung windows provide you with
            superior weather tightness to guard against drafts and the elements,
            and they can reduce outdoor noises.
          </li>

          <li>
            <strong>Simple Operation</strong> The sashes on double-hung windows
            are counterbalanced, making them easy to open and close with minimal
            effort.
          </li>
          <li>
            <strong>Appearance</strong> Double-hung windows can add elegance to
            your home with their traditional appearance and are suitable for any
            home décor.
          </li>
          <li>
            <strong>Security</strong>Advanced locking systems and the ability to
            ventilate using the upper sash help keep your home safe and secure
          </li>
        </ul>
        <p>
          Contact Century City Baths & Windows for a free quote, or call us at
          (309) 487-2105 for more information about the benefits of our
          double-hung windows.
        </p>

        <h3>Learn More About our Replacement Window Options:</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/Double-Hung">
              Double Hung Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Casement-Replacement">
              Casement Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/shower-to-tub">
              Slider Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Bay-and-Bow">
              Bay/Bow Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Shapes-and-Picture">
              Fixed/Picture Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Patio-Door">Patio Doors</button>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>