.header {
  position: relative;
  background-image: url(../../../assets/home/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 2;

    .row {

      .col-md-8 {
        h1 {
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          line-height: 70px;
          font-size: 50px;
        }

        h4 {
          font-size: 21px;
          font-weight: 700px;
          left: 29px;
        }

        @media (max-width: 767px) {
          h1 {
            font-size: 20px;
            line-height: 1.2;
          }

          h4 {
            font-size: 10px;
          }
        }
      }

      .col-md-4 {
        .box-form {
          .PAYMENTS {
            color: #278CA9;
            font-weight: 600;
          }

          background-color: #003057;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: white;
          width: 300px;
          border-radius: 11px;
          padding: 15px;

          form {
            input {
              display: block !important;
            }

            button {
              background-color: #FF5200;
              color: white;
              outline: none;
              border: none;
              width: 100%;
              font-weight: 700;
              height: 40px;
              font-size: 19px;
            }
          }

          @media (max-width: 767px) {
            width: 100%;
            // margin-top: 2rem;
          }
        }
      }
    }
  }
}

.cards {
  .card {
    width: 430px;
    height: 330px;
    border-radius: 15px;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(253, 253, 253, 0.975);
    background-image: url(../../../assets/home/se1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;


    &:hover {
      transform: translateY(-20px);

      &:before {
        opacity: 1;
      }

      .info {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: rgba(252, 248, 248, 0.838);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
      color: black;
    }

    .text-box {
      background-color: #003057;
      color: white;
      font-weight: 600;
      width: 190px;
      height: 30px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }

    .info {
      position: relative;
      z-index: 3;
      color: black;
      opacity: 0;
      transform: translateY(30px);
      transition: 0.5s;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin: 0px;
      }

      p {
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 8px;
      }

      a {
        color: #36708F;
        font-weight: 600;
        text-decoration: none;
        font-size: 18px;
      }
    }
  }

  .card2 {
    width: 430px;
    height: 330px;
    border-radius: 15px;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(253, 253, 253, 0.975);
    background-image: url(../../../assets/home/se2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;


    &:hover {
      transform: translateY(-20px);

      &:before {
        opacity: 1;
      }

      .info {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: rgba(252, 248, 248, 0.838);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
      color: black;
    }

    .text-box {
      background-color: #003057;
      color: white;
      font-weight: 600;
      width: 190px;
      height: 30px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }

    .info {
      position: relative;
      z-index: 3;
      color: black;
      opacity: 0;
      transform: translateY(30px);
      transition: 0.5s;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin: 0px;
      }

      p {
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 8px;
      }

      a {
        color: #36708F;
        font-weight: 600;
        text-decoration: none;
        font-size: 18px;
      }
    }
  }

  .card3 {
    width: 430px;
    height: 330px;
    border-radius: 15px;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(253, 253, 253, 0.975);
    background-image: url(../../../assets/home/se3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;


    &:hover {
      transform: translateY(-20px);

      &:before {
        opacity: 1;
      }

      .info {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: rgba(252, 248, 248, 0.838);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
      color: black;
    }

    .text-box {
      background-color: #003057;
      color: white;
      font-weight: 600;
      width: 190px;
      height: 30px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }

    .info {
      position: relative;
      z-index: 3;
      color: black;
      opacity: 0;
      transform: translateY(30px);
      transition: 0.5s;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin: 0px;
      }

      p {
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 8px;
      }

      a {
        color: #36708F;
        font-weight: 600;
        text-decoration: none;
        font-size: 18px;
      }
    }
  }

  @media (max-width: 767px) {

    .card,
    .card2,
    .card3 {
      width: 320px !important;
      height: 250px !important;
    }

    .card:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: rgba(252, 248, 248, 0.838);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
      color: black;
    }

    .card-gap {
      gap: 20px;

      p {
        font-size: 12px !important;
      }

      a {
        font-size: 13px !important;
      }
    }

  }

}

.pricing {
  .container {
    .row {
      .col-md-3 {

        .card {
          height: 450px !important;

          h5 {
            color: #278CA9;
            font-weight: 600;
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .pricing .card {
    text-align: center;

  }

  .pricing .row .col-sm-6 {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .pricing .container {
    padding: 0 15px;
  }

  .pricing .row .col-12 {
    margin-bottom: 20px;
  }

  .pricing .card {
    padding: 20px;
  }
}

.estimate {
  background-color: #FF5200;
  color: white;
  outline: none;
  border: none;
  width: 100%;
  font-weight: 700;
  height: 40px;
  font-size: 16px;
}