<section class="header py-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-8 mt-5">
        <h1>Get a Window Installation or Bathroom Remodel in Chicagoland</h1>
        <h4>Free Estimates Competitive Pricing Financing Available</h4>
      </div>
      <div class="col-md-4">
        <app-form></app-form>
      </div>
    </div>
  </div>
</section>
<section class="cards py-5">
  <div class="container">
    <div class="card-gap row justify-content-center align-items-center d-flex flex-wrap">
      <div class="col-md-4 bg-1 p-0 d-flex justify-content-center align-items-center">
        <div class="card">
          <h4 class="text-box text-center">BATHROOMS</h4>
          <div class="info">
            <h6>Bathroom Remodeling</h6>
            <p class="m-0">
              Get the bathroom oasis you've always wanted with help from Century
              City Baths & Windows. We can deliver a comprehensive bathroom
              remodel in Arlington Heights, IL and the surrounding areas.Contact
              us today for a free estimate, and don't forget to ask about the
              lifetime warranty we provide on all tile installations!
            </p>
            <a href="">Learn More ></a>
          </div>
        </div>
      </div>
      <!-- <div
        class="col-md-4 p-0 d-flex justify-content-center align-items-center"
      >
        <div class="card">
          <h4 class="text-box text-center">Window</h4>
          <div class="info">
            <h6>Window</h6>
            <p class="">
              From bay and bow to casement, sliding, and picture windows, we can
              install any window you want for your home. We even have
              energy-efficient windows to help you lower your utility bills.
              Financing is available, so be sure to give us a call today!
            </p>
            <a href="">Learn More ></a>
          </div>
        </div>
      </div> -->

      <div class="col-md-4 bg-1 p-0 d-flex justify-content-center align-items-center">
        <div class="card3">
          <h4 class="text-box text-center">ABOUT US</h4>
          <div class="info">
            <h6>ABOUT US</h6>
            <p class="">
              Century City Baths & Windows offers competitive pricing and FREE
              estimates with all our services. Our estimates are good for 60
              days and financing is available. Century City Baths & Windows
              responds to inquiries the same day, so be sure to give us a call!
            </p>
            <a href="">Learn More ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pricing py-5">
  <div class="container">
    <div class="row justify-content-center align-items-center d-flex gap-3 flex-wrap">
      <div class="col-md-3 col-8">
        <div class="card pb-5 px-3">
          <div class="justify-content-center align-items-center d-flex">
            <img src="../../../assets/home/logo.png" alt="" class="w-100" />
          </div>
          <div class="text-center mt-3">
            <h5>$2,500 Off</h5>
            <p>Shower / Tub Conversion</p>
            <small>Must be mentioned at the time of scheduling</small>
          </div>
          <div class="d-flex alingn-items-start justify-content-start py-5">
            <button class="estimate">Get free estimate</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-8">
        <div class="card pb-5 px-3">
          <div class="justify-content-center align-items-center d-flex">
            <img src="../../../assets/home/logo.png" alt="" class="w-100" />
          </div>
          <div class="text-center mt-3">
            <h5>$2,500 Off</h5>
            <p>12 Windows</p>
            <small>Must be mentioned at the time of scheduling</small>
          </div>
          <div class="d-flex alingn-items-start justify-content-start py-5">
            <button class="estimate">Get free estimate</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-8">
        <div class="card pb-5 px-3">
          <div class="justify-content-center align-items-center d-flex">
            <img src="../../../assets/home/logo.png" alt="" class="w-100" />
          </div>
          <div class="text-center mt-3">
            <h5>12 Months</h5>
            <p>No Interest , No Payments</p>
            <small>Upgrade your home with ease! Enjoy our unbeatable deal: 12 months
              of no interest and no payments
            </small>
          </div>
          <div class="d-flex alingn-items-start justify-content-start py-3">
            <button class="estimate">Get free estimate</button>
          </div>
          <div class="d-flex alingn-items-start justify-content-start">
            <button class="estimate">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-services></app-services>