<section class="patio-door">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>New Shape or Picture Replacement Windows</h2>
        <p>
          For many homeowners in the Chicagoland area, their backyard is a
          natural extension of their living space. It provides space to
          entertain, enjoy the outdoors, and spend time with family and friends.
          Make enjoying your backyard even easier with a new patio door from
          Century City Baths & Windows. It’s essential that your new patio door
          has the highest energy efficiency ratings. These days, anything less
          is simply a waste of your hard-earned money. Purchasing a run of the
          mill door might save a bit of money up front, but you’ll end up paying
          for it in the long run with higher energy costs.
        </p>

        <h2>Why Choose a Sliding Glass Door for your Home?</h2>
        <p>
          liding glass doors feature two large panes of glass, one that is fixed
          and one that slides open. They are a great addition to almost any home
          with benefits such as:
        </p>

        <ul>
          <li>Providing an expansive view of the outdoors</li>
          <li>Letting in plenty of natural light</li>
          <li>Needing less interior space than swinging patio doors</li>
          <li>
            Staying in place when your carrying items in and out of the house
          </li>
        </ul>
        <p>
          A Sliding glass door should conform to your lifestyle, décor, and
          budget. At Century City Baths & Windows, our glass patio doors offer
          many great standard features and impressive custom options that can
          make the door your own.<br />
        </p>
        <h2>Our products feature:</h2>
        <ul>
          <li>Custom sizes to fit nearly any opening.</li>
          <li>Different designer handles</li>
          <li>Unlimited exterior color, 4 interior woodgrain finishes</li>
          <li>2-Point locking system, and more.</li>
        </ul>
        <p>
          A glass patio door provides easy access to the outdoors, offers a
          great view, and brings in huge amounts of natural light. At Century
          City Baths & Windows, we offer a wide selection of to meet your taste
          and budget and professional installation service for long-lasting
          reliability and comfort. With our great service, excellent financing
          options, and warranties, we make getting your new glass patio door as
          easy choice. <br /><br />
          Call Century City Baths & kitchens at
          <a href="tel:+13094872105">(309) 487-2105</a>
          or contact us online to request a FREE in-home, no obligation quote
          today!
        </p>

        <h3>Learn More About our kitchens Options:</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/Double-Hung">
              Double Hung Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Casement-Replacement">
              Casement Windows
            </button>
          </li>
          <li><button class="btn" routerLink="/">Slider Windows</button></li>
          <li>
            <button class="btn" routerLink="/Bay-and-Bow">
              Bay/Bow Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Shapes-and-Picture">
              Fixed/Picture Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Patio-Door">Patio Doors</button>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>
