<section class="Financing py-5">
  <div class="container">
    <h1>Financing</h1>
    <h4>Century City Baths and Windows</h4>
    <div class="row justify-content-center alingn-items-center d-flex flex-wrap">
      <div class="col-md-8">
        <h6>Buy Today, Pay Over Time. Special Financing Available*</h6>
        <p>
          Are you in need of financing options for your project? Century City
          Baths and Windows offers affordable and flexible payment plans to help
          you buy today and pay over time.
        </p>
        <p>With our financing program, you can enjoy the following benefits:</p>
        <ul>
          <li>Monthly payments tailored to fit your budget</li>
          <li>Special terms and promotions that are available upon request</li>
          <li>Online account management and convenient bill payment options</li>
        </ul>
        <p>
          Don't let financial constraints hold you back from getting the
          services your home needs. Take advantage of our financing options and
          experience peace of mind knowing that you can manage your payments
          with ease.
        </p>
        <p>
          To learn more about our financing options, call us at
          <a href="tel:+13094872105">(309) 487-2105</a>

          and speak with one of our knowledgeable representatives today
        </p>
      </div>
      <div class="col-md-3 d-none d-md-block">
        <img src="../../../assets/home/logo2.jpg" alt="" class="w-75" />
      </div>
    </div>
  </div>
</section>