.Privacy {
    .container {

        h2,
        h5 {
            color: #003057;
            font-weight: 700;
            font-family: 'Oswald';
        }

        a {
            color: #FE6A00;
            text-wrap: wrap;
        }


    }
}