<section class="sliding-replacement">
  <div class="container">
    <div class="row ">
      <div class="col-lg-7 col-md-12">
        <h2>New Sliding Replacement Windows
        </h2>
        <p>When considering replacement windows for your home, slider windows offer many advantages over traditional
          options. Sliding windows, often called slider windows, have one sash on each side that slides in either
          direction rather than up and down. They are comprised of two panes of framed glass that are situated parallel
          to each other. </p>
        <br>
        <h2>What are the Advantages of Slider Windows?</h2>
        <p>While slider windows were once only available to fit small spaces, you can now custom-design your windows to
          fit your design needs, for example:</p>
        <ul>
          <li>Brightening a small space over the kitchen sink</li>
          <li>Complimenting bay windows</li>
          <li>Bringing in more natural light with door sized sliders.</li>
        </ul>
        <h2>Other Benefits Include:</h2>
        <ul>
          <li> <strong>Low maintenance: </strong> these windows are easy to clean and can be removed from their tracks
            to allow for
            thorough cleaning of the inside and outside surfaces</li>
          <li> <strong>Ease of operation: </strong> sliding effortlessly horizontally on their tracks eliminates the
            need to lift heavy, traditional windows.</li>
          <li><strong>Minimal maintenance: </strong> sliding windows have fewer parts than conventional windows, meaning
            less chance of
            breaking vital parts that control operation.</li>
          <li><strong>Energy efficiency:</strong> you can add special coatings to increase insulation and reduce energy
            bills.</li>
        </ul>
        <p>If you are looking for new windows that are modern, easy to operate and incredibly functional, our
          replacement sliding windows are a perfect choice. At Century City Baths & Windows, we promise you the highest
          quality and selection of products. Best in customer service. Exceptional results, ensuring your new sliding
          windows live up to your expectations and last for years to come.

          <br><br>

          When we sit down to discuss your project, we not only guarantee you’ll be happy with your new sliding windows,
          sliding patio door, or other windows, we back up our products with a guarantee you will find nowhere else.


          <br><br>
          For a FREE quote or to schedule an in-home consultation contact us online now or call (312) 212-0698.
        </p>

        <h3>Learn More About our Replacement Window Options:
        </h3>
        <ul class="list-unstyled ">
          <li><button class="btn" routerLink="/Double-Hung">Double Hung Windows</button></li>
          <li> <button class="btn" routerLink="/Casement-Replacement">Casement Windows</button></li>
          <li><button class="btn" routerLink="/">Slider Windows</button></li>
          <li><button class="btn" routerLink="/Bay-and-Bow">Bay/Bow Windows</button></li>
          <li><button class="btn" routerLink="/Shapes-and-Picture">Fixed/Picture Windows</button></li>
          <li><button class="btn" routerLink="/Patio-Door">Patio Doors</button></li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>