<section class="sliding-replacement">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>The Centerpiece of the Kitchen</h2>
        <p>
          At Century City Kitchens, we understand that countertops are the
          centerpiece of any kitchen, providing both functionality and style.
          Our selection of countertops is designed to meet the diverse needs of
          our clients, offering a range of materials that combine beauty,
          durability, and performance.
        </p>
        <h2>Variety of Materials</h2>
        <p>
          We offer an extensive variety of countertop materials, including
          natural stones like granite and marble, engineered surfaces like
          quartz, and innovative options like solid surfaces and eco-friendly
          composites. Each material is carefully selected for its quality,
          ensuring that your countertops not only look stunning but also stand
          up to the demands of daily use.
        </p>
        <h2>Timeless Appeal</h2>
        <p>
          Granite countertops are prized for their unique patterns and natural
          beauty, offering a timeless appeal that complements both traditional
          and modern kitchen designs. Our marble countertops add a touch of
          luxury, with their elegant veining and smooth finish, perfect for
          creating a sophisticated atmosphere. For those seeking a contemporary
          look, our quartz countertops provide a sleek and polished surface that
          is both low-maintenance and highly durable.
        </p>
        <h2>Eco-Friendly Options</h2>
        <p>
          In addition to traditional materials, we offer eco-friendly countertop
          options that are as sustainable as they are stylish. These surfaces
          are made from recycled materials, offering a green alternative without
          sacrificing aesthetics or functionality.
        </p>
        <h2>Expert Guidance</h2>
        <p>
          Our expert team is dedicated to helping you choose the perfect
          countertop for your kitchen. We consider factors such as durability,
          maintenance, and design to ensure that your countertops not only meet
          your needs but also enhance the overall beauty of your kitchen.
          Whether you're preparing meals, entertaining guests, or simply
          enjoying a morning coffee, your countertops will serve as a stunning
          and functional centerpiece in your home.
        </p>
        <h2>An Investment in Quality</h2>
        <p>
          At Century City Kitchens, we believe that quality countertops are an
          investment in the longevity and appeal of your kitchen. With our
          extensive selection of premium materials and our commitment to
          excellence, we provide countertops that elevate your kitchen to new
          heights of elegance and practicality.
        </p>

        <h3>Learn More About our kitchens Options:</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/Energy-Efficient">
              Design & Planning
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Double-Hung">
              Custom Cabinetry
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Casement-Replacement">
              Premium Materials
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Bay-and-Bow">
              Innovative Solutions
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Sliding-Replacement">
              Countertops
            </button>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>
