@if(firstDesign){
<section class="content">
  <h3>Transform Your {{title}}, IL Bathroom with Century City Baths and Windows' Expert Remodeling Services!</h3>
  <p class="py-3">At Century City Baths and Windows, we know that your {{title}}, IL area bathroom is more than
    just a practical space; it's a reflection of your unique taste and style. That's why we provide comprehensive
    bathroom remodeling services that are tailored to your specific needs and preferences. Our team of experts is
    dedicated to working with you throughout the process, from design to installation, to create a stunning bathroom
    that exceeds your expectations.</p>


  <p class="py-3">Whether you're looking for custom showers, new tubs, vanities, or flooring, we offer a wide range of
    high-quality products and services to fit any budget. Our team uses only the best materials and employs the latest
    techniques to ensure that your bathroom renovation lasts for years to come. We are committed to providing
    exceptional attention to detail and customer satisfaction, and we serve the entire {{title}} , IL area.</p>


  <p>If you're ready to transform your bathroom into a beautiful and functional oasis, don't hesitate to contact Century
    City Baths and Windows today. We offer a free in-home consultation to discuss your project and provide a
    comprehensive estimate. <a routerLink="/contact"> Contact us now to schedule an appointment!</a></p>

  <h3 class="py-2">View our Recent Bathroom Remodeling Projects by Century City Baths and Windows in {{title}}, IL Area!
  </h3>
</section>
}

@if(secondDesign){
<section class="content">
  <h5>Get the Bathroom Oasis You've Always Wanted</h5>
  <h3>Serving {{title}}, IL & All of Chicagoland</h3>
  <p class="pt-3">If you want your bathroom remodeled, Century City Baths & Windows offers bathroom remodeling at prices
    you can afford. We are one of the few bathroom remodelers in the Chicagoland area that offers full-service bathroom
    remodeling. We do it all from top to bottom! Call us today to receive a bathroom remodel {{title}}, IL residents
    will cherish for years to come.</p>
  <h3>Renovate Your Bathroom!</h3>
  <p class="py-3">
    Bathroom remodeling is an exciting way to transform your home and add value. Creating a beautiful custom bathroom
    with finishes that match your style and needs can become a difficult task. However, when you work with Century City
    Baths and Windows, you can rest assured that your bathroom remodel in {{title}}, IL will be easy, on time, and
    within budget.
  </p>
  <h3>Full-Service Bathroom Remodeling Services</h3>
  <ul>
    <li>Bathtub replacement</li>
    <li>Walk-in showers</li>
    <li>Tub to shower conversions</li>
    <li>Electrical, plumbing, painting</li>
    <li>Flooring, tile, fixtures, and more!</li>
  </ul>
  <h3>Our Simple Remodeling Process:</h3>
  <ol>
    <li>Design: A Century City consultant meets you in your home and guides you through a product selection process to
      create the custom bath of your dreams. Come to us for your bathroom remodel in Crystal Lake, IL and surrounding
      areas!</li>
    <li>Removal: Your existing bathtub, shower, and fixtures are removed, including tile, down to the studs. We then
      thoroughly clean and prepare the area.</li>
    <li>Installation: New waterproof backing, tile, and all the fixtures and finishing touches will be completed by our
      highly trained installers.</li>
    <li>LIFETIME WARRANTY: We stand behind our work and give you a lifetime warranty on all tile work. It will be
      waterproof!</li>
  </ol>
  <a routerLink="/contact">Check out some of our work</a>
  <h3 class="mt-4">WE OFFER THE BEST VALUE IN BATHROOM REMODELING</h3>
  <p>Whether you are looking to makeover your master bath, a guest bath, or a powder room, we've got you covered.
    Century City Baths and Windows will make your bathroom remodel in {{title}}, IL stress-free, so you can focus on
    simply enjoying your new space. We will coordinate every aspect of your bathroom remodeling with our experienced
    installers, brand-name materials, and outstanding customer service. And we back our work with a lifetime guarantee!

    <br><br>

    Call us today at (312) 210-1050 or fill out our short form to get a free bathroom remodeling consultation and
    estimate.
  </p>
</section>
}

@if(default){
<section class="content">
  <h3 class="text-center py-4">{{title}}</h3>

</section>
}