<section class="flooring">
  <div class="container">
    <div class="row ">
      <div class="col-lg-7 col-md-12">
        <h2>Full Service Bathroom Remodeling Includes: <br>Flooring, Vanity, Drywall, Electrical, and More</h2>
        <p>There comes a point where more than the wet area needs to be replaced. Sometimes that is because they are
          worn out or dated. Other times it is because the needs of the household have changed. For the latter, double
          sink vanities are a great way to expand the functionality of your bathroom. If you need to install a fan,
          replace an outlet, or even replace the drywall, we can do it all! <br><br>
          Updating your bathroom is as much about function as it is about fashion. That is why you need a bathroom
          remodeling company that can meet your lifestyle needs and your design dreams in one simplified process. At
          Century City Baths and Windows, we know the last thing you need is a lengthy bath remodel. So, we make it
          easy. Make your selections. Sit back and relax. With our quick installation, clean up, and attention to
          detail, the only evidence we were in your home is your new bathroom!
        </p>
        <br>
        <h2>Our simple remodeling process:</h2>
        <ul>
          <li><strong>Design: </strong> A Century City consultant meets you in your home and guides you through a
            product selection process to create the custom bathroom of your dreams</li>
          <br>
          <li><strong>Removal:</strong> Your existing bathtub, shower, and fixtures are removed, including tile, down to
            the studs. We then thoroughly clean and prepare the area.</li>
          <br>
          <li><strong>Installation:</strong> New waterproof backing, tile, and all the fixtures and finishing touches
            will be completed by our highly trained installers.
          </li>
          <br>
          <li><strong>LIFETIME WARRANTY:</strong> We stand behind our work and give you a lifetime warranty on all tile
            work. It will be waterproof!</li>

        </ul>

        <p>
          Call us today at (312) 212-0698 or fill out our form for a free quote.
        </p>

        <h3>Full-Service Bathroom Remodeling Services
        </h3>
        <ul class="list-unstyled ">
          <li><button class="btn" routerLink="/bathtub-replacement"> Bathtub replacement</button></li>
          <li> <button class="btn" routerLink="/walk-in-showers">Walk-in showers</button></li>
          <li><button class="btn" routerLink="/shower-to-tub">Shower conversions</button></li>
          <li><button class="btn" routerLink="/flooring">Renovations</button></li>
          <li><button class="btn" routerLink="/flooring">Flooring</button></li>
          <li><button class="btn" routerLink="/flooring">And more!</button></li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <div class="formInstall d-flex align-items-center flex-column p-3 mb-4">
          <h2 class="fw-bold text-white">FREE INSTALLATION</h2>
          <p class="text-warning fs-4 text-center">NO PAYMENTS NO INTEREST UNTIL 2026</p>
          <div class="row">
            <div class="col-4 d-flex flex-column align-items-center gap-3 w-25">
              <img src="../../../assets/About-us/Angi_SSA23_Logo_530.png" alt="" width="120">
              <img src="../../../assets/About-us/award-bbb-white.webp" alt="" width="120">
              <img src="../../../assets/About-us/award-ranked-1.webp" alt="" width="120">
            </div>
            <div class="col-5 w-75">
              <app-form></app-form>
            </div>

          </div>
        </div>
        <div class="first p-4 d-flex flex-column align-items-center justify-content-center pb-5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="width: 100px; color:#fff">
            <path fill="#FFFFFF"
              d="M40.31,58.51l1.63.76a12.43,12.43,0,0,1,2.22,1.22,2.78,2.78,0,0,1,.77,1.07,3.84,3.84,0,0,1,.28,1.52,2.89,2.89,0,0,1-1,2.25,3.72,3.72,0,0,1-2.59.88,9.16,9.16,0,0,1-2.15-.27,12.35,12.35,0,0,1-1.93-.58l0,2.55a7.66,7.66,0,0,0,1.38.46,8.41,8.41,0,0,0,1.65.29V70.8h2.66V68.46a5.48,5.48,0,0,0,3.4-1.73A4.64,4.64,0,0,0,48,63.44a6.48,6.48,0,0,0-1-3.73,7.56,7.56,0,0,0-3.14-2.46l-1.27-.59a11.59,11.59,0,0,1-2.09-1.18,3,3,0,0,1-.83-1.07A3.35,3.35,0,0,1,39.36,53a2.77,2.77,0,0,1,.81-2.05,3,3,0,0,1,2.21-.8,6.72,6.72,0,0,1,2.09.37,6.32,6.32,0,0,1,1.68.77V48.72a6.2,6.2,0,0,0-3-.84V45.71H40.58l0,2.31a5.15,5.15,0,0,0-2.75,1.68A5,5,0,0,0,36.61,53a5.92,5.92,0,0,0,.82,3.18A6.49,6.49,0,0,0,40.31,58.51Z">
            </path>
            <path fill="#FFFFFF"
              d="M42.29,86c9.27,0,13.3-.18,13.54-.19h31.7V41.44H62.42l-7-9.36a2.61,2.61,0,0,0,1.7-2.44V28.45A2.62,2.62,0,0,0,55,25.88l6.88-6.66L58.5,15.8a6.23,6.23,0,0,0-8.8,0l-1.62,1.62-.36-.36a7.49,7.49,0,0,0-10.58,0l-.36.36L35.16,15.8a6.23,6.23,0,0,0-8.8,0l-3.42,3.42,6.85,6.64a2.61,2.61,0,0,0-2.35,2.59v1.19a2.61,2.61,0,0,0,1.7,2.44L18.47,46.41a29.81,29.81,0,0,0-6,17.68C12.49,74.1,17.69,86,42.29,86Zm43.46-2H56.7V43.21H85.76Zm-58.15-67a4.45,4.45,0,0,1,6.3,0l2.87,2.87,1.61-1.61a5.71,5.71,0,0,1,8.07,0l1.61,1.61,2.87-2.87a4.45,4.45,0,0,1,6.3,0l2.14,2.14-6.84,6.63H32.31L25.46,19.2ZM30,30.48a.84.84,0,0,1-.84-.84V28.45a.84.84,0,0,1,.84-.84H54.54a.84.84,0,0,1,.84.84v1.19a.84.84,0,0,1-.84.84H30Zm-10.15,17L31.21,32.26H53.38l6.83,9.18H54.92V84.09c-1.61.05-5.6.16-12.63.16-18.32,0-28-7-28-20.16A28,28,0,0,1,19.9,47.47Z">
            </path>
            <path fill="#FFFFFF" d="M83.2,45.77h-24v6.66h24Zm-1.77,4.88H61V47.54H81.43Z"></path>
            <path fill="#FFFFFF"
              d="M70.77,81.22a.79.79,0,0,0,.92,0H76.1a.87.87,0,0,0,1.3,0h5.8v-23h-24v23Zm5.1-16.07v3.75H72.11V65.16Zm-3.75-1.77V60h3.75v3.39Zm0,11V70.68h3.75v3.75Zm3.75,1.77v3.25H72.11V76.2Zm1.77-5.52h3.79v3.75H77.64Zm3.79-1.77H77.64V65.16h3.79Zm-11.09,0H66.59V65.16h3.75Zm-5.52,0H61V65.16h3.79ZM61,70.68h3.79v3.75H61Zm5.57,0h3.75v3.75H66.59Zm3.75,5.52v3.25H66.59V76.2Zm7.3,3.25V76.2h3.79v3.25Zm3.79-16.07H77.64V60h3.79ZM70.34,60v3.39H61V60ZM61,76.2h3.79v3.25H61Z">
            </path>
          </svg>
          <h4 class="text-center">Free Bathroom Remodeling Estimates
          </h4>
          <p class="text-center text-white">All our free estimates are good for 60 days.
            <br>
            Call for an on-the-spot estimate today.
          </p>
          <span><strong>(312) 212-0698</strong></span>
        </div>
        <div class="second  p-3 pb-5 d-flex align-items-center justify-content-center flex-column">

          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.25 18"
            style="width: 70px; margin-bottom: 10px;">
            <title>hibu-tm</title>
            <path fill="#003057"
              d="M368.70509,608.32371a.49965.49965,0,0,1-.5-.5v-3.25h-2.752a1.50164,1.50164,0,0,1-1.5-1.5v-11.25a1.50171,1.50171,0,0,1,1.5-1.5h18.25a1.50164,1.50164,0,0,1,1.5,1.5v11.25a1.50157,1.50157,0,0,1-1.5,1.5H373.625l-4.60991,3.6421a.49868.49868,0,0,1-.31.1079Zm-3.252-17a.50037.50037,0,0,0-.5.5v11.25a.50031.50031,0,0,0,.5.5h3.252a.4998.4998,0,0,1,.5.5v2.7178l3.936-3.1099a.5009.5009,0,0,1,.3101-.1079h10.2519a.5003.5003,0,0,0,.5-.5v-11.25a.50037.50037,0,0,0-.5-.5Z"
              transform="translate(-363.95309 -590.32371)"></path>
            <path fill="#003057" d="M380.45309,596.32371h-11.25a.5.5,0,0,1,0-1h11.25a.5.5,0,0,1,0,1Z"
              transform="translate(-363.95309 -590.32371)"></path>
            <path fill="#003057" d="M380.45309,599.40771h-11.25a.5.5,0,0,1,0-1h11.25a.5.5,0,0,1,0,1Z"
              transform="translate(-363.95309 -590.32371)"></path>
          </svg>
          <p class="text-center"> <i>The bathrooms turned out really great! Our crew was professional and did great
              work. They were
              efficient
              too! Two bathrooms only took three weeks!</i></p>
          <span><strong>- Christel Mauloff, Google Review</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center align-items-center d-flex flex-wrap">
      <h2 class="text-center py-3">
        Century City Baths' Award-Winning Services
      </h2>
      <p class="text-center">
        Enjoy expert home renovations—and a level of service that is becoming
        harder to find.
      </p>
      <p-card class="col-md-3">
        <div class="justify-content-center align-items-center">
          <div class="justify-content-center align-items-center d-flex">
            <img src="../../../assets/home/icon-warranty.png" alt="" />
          </div>
          <div class="justify-content-center align-items-center d-flex">
            <h6 class="text-center">Lifetime Warranties</h6>
          </div>
        </div>
      </p-card>
      <p-card class="col-md-3">
        <div class="justify-content-center align-items-center">
          <div class="justify-content-center align-items-center d-flex">
            <img src="../../../assets/home/icon-award.png" alt="" />
          </div>
          <div class="justify-content-center align-items-center d-flex">
            <h6 class="text-center">Award Winning</h6>
          </div>
        </div>
      </p-card>
      <p-card class="col-md-3">
        <div class="justify-content-center align-items-center">
          <div class="justify-content-center align-items-center d-flex">
            <img src="../../../assets/home/icon-family.png" alt="" />
          </div>
          <div class="justify-content-center align-items-center d-flex">
            <h6 class="text-center">Family Owned</h6>
          </div>
        </div>
      </p-card>
      <p-card class="col-md-3">
        <div class="justify-content-center align-items-center">
          <div class="justify-content-center align-items-center d-flex">
            <img src="../../../assets/home/icon-workmanship.png" alt="" />
          </div>
          <div class="justify-content-center align-items-center d-flex">
            <h6 class="text-center">Quality Workmanship</h6>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</section>