<section class="flooring">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>
          Full Service Bathroom Remodeling Includes: <br />Flooring, Vanity,
          Drywall, Electrical, and More
        </h2>
        <p>
          There comes a point where more than the wet area needs to be replaced.
          Sometimes that is because they are worn out or dated. Other times it
          is because the needs of the household have changed. For the latter,
          double sink vanities are a great way to expand the functionality of
          your bathroom. If you need to install a fan, replace an outlet, or
          even replace the drywall, we can do it all! <br /><br />
          Updating your bathroom is as much about function as it is about
          fashion. That is why you need a bathroom remodeling company that can
          meet your lifestyle needs and your design dreams in one simplified
          process. At Century City Baths and Windows, we know the last thing you
          need is a lengthy bath remodel. So, we make it easy. Make your
          selections. Sit back and relax. With our quick installation, clean up,
          and attention to detail, the only evidence we were in your home is
          your new bathroom!
        </p>
        <br />
        <h2>Our simple remodeling process:</h2>
        <ul>
          <li>
            <strong>Design: </strong> A Century City Baths and Windows consultant meets you in your home and guides you
            through a product selection process to create the custom bathroom of your dreams
          </li>
          <br />
          <li>
            <strong>Removal:</strong> Your existing bathroom and fixtures are removed, including tile, down to the
            studs. We then thoroughly clean and prepare the area.
          </li>
          <br />
          <li>
            <strong>Installation:</strong>New waterproof backing, tile, and all the fixtures and finishing touches will
            be completed by our highly trained installers.
          </li>
          <br />
          <li>
            <strong>LIFETIME WARRANTY:</strong> We stand behind our work and
            give you a lifetime warranty on all tile work. It will be
            waterproof!
          </li>
        </ul>

        <p>
          Call us today at <a href="tel:+(309) 487-2105">(309) 487-2105</a>
          or fill out our form for a free quote.
        </p>

        <h3>Full-Service Bathroom Remodeling Services</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/bathtub-replacement">
              Bathtub replacement
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/walk-in-showers">
              Walk-in showers
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/shower-to-tub">
              Shower conversions
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/flooring">Renovations</button>
          </li>
          <li><button class="btn" routerLink="/flooring">Flooring</button></li>
          <li><button class="btn" routerLink="/flooring">And more!</button></li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>