<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/home/logo.png" alt="" class="w-50" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-5 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bathroom
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/tub-to-shower">Tub to Shower Conversions</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/shower-to-tub">Shower to Tub Conversions</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/walk-in-showers">Walk-In Showers</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/bathtub-replacement">Bathtub Replacement</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/flooring">Flooring, Vanity, Drywall</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Windows
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/Energy-Efficient">Energy Efficient Replacement Window</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/Double-Hung">Double-Hung Replacement Window
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/Casement-Replacement">Casement Replacement Window</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/Bay-and-Bow">Bay and Bow Replacement Window</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/Sliding-Replacement">Sliding Replacement Window</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/Shapes-and-Picture">Shapes and Picture Replacement Window</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/Patio-Door">Patio Door Replacement</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gallery
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/gallery">Recent Bathroom Projects</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/gallery">Recent Window Projects</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Promotions
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/promotions">Overview</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/Financing">Finance</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" id="aboutUsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" routerLink="about-us">
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="aboutUsDropdown">
            <li>
              <a class="dropdown-item" routerLink="/faq">FAQ</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/faq/general">Blog</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
            routerLink="/contact">
            contact-us
          </a>
          <ul class="dropdown-menu">

            <li>
              <a class="dropdown-item" routerLink="/surrounding-areas">surrounding-areas</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="estimate d-flex justify-content-end alingn-items-center gap-3 flex-md-row flex-column">
        <p class="m-0 p-0 fs-5" style="text-wrap: nowrap">
          <strong>(312) 212-0698</strong>
        </p>
        <button class="btn-estimate">Get free estimate</button>
      </div>
    </div>
  </div>
</nav>