// .navbar {
//     .container {
//         .collapse .navbar-collapse {
//             .navbar-nav {
//                 .estimate {
//                     .btn-estimate {
//                         background-color: #FF5200;
//                         color: white;
//                         font-size: 14px;
//                         outline: none;
//                         border: none;
//                         height: 31px;
//                         width: 152px;
//                         text-transform: uppercase;

//                     }
//                 }
//             }
//         }
//     }
// }

.btn-estimate {
  background-color: #FF5200;
  color: white;
  font-size: 14px;
  outline: none;
  border: none;
  height: 29px;
  width: 152px;
  text-transform: uppercase;
  font-weight: 600;
}

li {
  cursor: pointer;

  a {
    text-transform: capitalize;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  img {
    width: 219px !important;

  }

}