<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand">
      <img src="../../../assets/home/logo.png" alt="" class="w-50" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-1 mb-lg-0 me-5 ms-0 w-50">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home"
            >Home</a
          >
        </li>
        <li class="nav-item" (mouseover)="showMenu()" (mouseleave)="hideMenu()">
          <a class="nav-link" routerLink="Gallery" routerLinkActive="active"
            >Bathroom</a
          >
          <div
            *ngIf="menuVisible"
            class="card justify-content-center align-items-center d-flex flex-column"
          >
            <p-megaMenu
              [model]="itemsBathroom"
              orientation="horizontal"
              [style]="{ 'white-space': 'nowrap' }"
              [model]="itemsBathroom"
            ></p-megaMenu>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="about-us" routerLinkActive="active"
            >About</a
          >
        </li>
        <li class="nav-item" (mouseover)="showMenu()" (mouseleave)="hideMenu()">
          <a class="nav-link" routerLink="Gallery" routerLinkActive="active"
            >Gallery</a
          >
          <div
            *ngIf="menuVisible"
            class="card justify-content-center align-items-center d-flex flex-column"
          >
            <p-megaMenu
              [model]="items"
              orientation="horizontal"
              [style]="{ 'white-space': 'nowrap' }"
            ></p-megaMenu>
          </div>
        </li> -->
        <p-megaMenu [model]="items"></p-megaMenu>
      </ul>

      <div
        class="estimate d-flex justify-content-end alingn-items-center gap-3"
      >
        <p class="m-0 p-0 fs-5" style="text-wrap: nowrap">
          <strong>(312) 212-0698</strong>
        </p>
        <button class="btn-estimate">Get free estimate</button>
      </div>
    </div>
  </div>
</nav>
