.btn-estimate {
  background-color: #FF5200;
  color: white;
  font-size: 14px;
  outline: none;
  border: none;
  height: 29px;
  width: 260px;
  text-transform: uppercase;
  font-weight: 600;
}

li {
  cursor: pointer;

  a {
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
  }
}

.nav-item {
  position: relative;
}

.card {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}




@media only screen and (max-width: 768px) {
  img {
    width: 250px !important;

  }

}

@media only screen and (max-width: 1024px) {


  img {
    width: 155px !important;

  }

  .btn-estimate {
    width: 150px;
    font-size: 10px;
    height: 35px;
  }


}