<section class="faq py-5">
  <div class="container">
    <h2 class="text-start py-4">
      Century City Baths & Windows Frequently Asked Questions
    </h2>

    <p-accordion [activeIndex]="0">
      <p-accordionTab
        header="Learn More About Century City Baths & Windows
      "
      >
        <p>
          Have a remodeling-related question? We have the answer! Check out our
          FAQs below to learn more about our company and services.
        </p>
      </p-accordionTab>
      <p-accordionTab
        header="Do you finance?
      "
      >
        <p>
          Yes, we offer financing through a partnership with Synchrony Bank and
          Sunlight Financial. Both lenders offer a plethora of options ranging
          from 12-month, no-interest, no-payment plans to longer-term plans.
          Contact us for information about financing your bathroom remodel!
        </p>
      </p-accordionTab>
      <p-accordionTab
        header="What is your typical process for working with a new customer?"
      >
        <p>
          We offer free in-home estimates. The whole process can take around 60
          minutes: you can design your bathroom, ask our rep any questions you
          have, and receive a free quote. We also allow the customer to purchase
          their own materials for their bathroom remodel and can quote for labor
          only.
        </p>
      </p-accordionTab>
      <p-accordionTab
        header="What education or training do you have that relates to your work?
      ?"
      >
        <p>
          We work with the Laticrete system in the shower space. This involves
          using high-quality waterproof materials that include a lifetime
          warranty on labor and materials for your bathroom remodel.
        </p>
      </p-accordionTab>
      <p-accordionTab
        header="How long will my project take?
        ?"
      >
        <p>
          A project can take anywhere from three days for a standard
          tub-to-shower conversion to two weeks for a full master bathroom
          remodel.
        </p>
      </p-accordionTab>
      <p-accordionTab
        header="How far out are you in terms of an installation date?"
      >
        <p>
          We generally average four to five weeks out in terms of an
          installation date for any bathroom remodel project. Depending on the
          month, we may be able to fit in a job sooner!
        </p>
      </p-accordionTab>
      <p-accordionTab
        header="Do you charge for an estimate
      ?"
      >
        <p>
          We don't. All of our estimates for bathroom remodel projects are free
          of charge!
        </p>
      </p-accordionTab>
      <p-accordionTab
        header="Can you give me a general price over the phone?
      "
      >
        <p>
          To give an accurate estimate requires that we know what we are
          installing. There are so many choices when it comes to materials, and
          they can change the cost significantly. General pricing isn't how our
          company operates; we have learned that the best way to do business is
          to spend time pricing it accurately. This way, there are no surprises
          when it comes to your bathroom remodel, and you'll know exactly what
          you're paying for.
        </p>
      </p-accordionTab>
      <p-accordionTab
        header="Why should I go with a company over an independent contractor?
        "
      >
        <p>
          This is a great question. As a company, we handle between 20-30
          projects a month of all sizes. All of our contractors take on one
          project at a time. They'll show up in the morning and work until 5 PM
          every day until the project is completed.
        </p>
        <p>
          We're fully licensed and insured, A-rated on the Better Business
          Bureau, and fully accredited as a pro on Angi's List, Thumbtack,
          Porch, and Google. Many of our contractors have 20-30 years of
          experience with bathroom remodel projects. We're an established
          company that prioritizes making the process from start to finish as
          smooth as possible.
        </p>
      </p-accordionTab>
      <p-accordionTab
        header="Do you offer any kind of maintenance on the bathroom

?"
      >
        <p>
          Any bathroom remodel we complete also has one year of maintenance on
          the bathroom. This way, if a shower head falls off or a toilet leaks,
          we'll come out and fix it free of charge. With 33% of homeowners in
          2021 having renovated their master bathrooms, according to Statista,
          we know how important it is to keep your newly-remodeled bathroom up
          to its high standard of care!
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
</section>
