.faq {
    .container {
        h2 {
            color: #003057;
            font-weight: 700;
            font-family: 'Oswald';
        }

        a {
            color: #FE6A00;
            text-wrap: wrap;
        }


    }
}