<div class="box-form w-100">
  <h4>FREE INSTALLATION</h4>
  <p class="text-center PAYMENTS p-0 m-0">NO PAYMENTS NO INTEREST UNTIL 2026</p>
  <form>
    <div class="form-group py-2">
      <input type="text" class="form-control w-100" placeholder="First Name" required />
    </div>
    <div class="form-group py-2">
      <input type="text" class="form-control w-100" placeholder="Last Name" required />
    </div>
    <div class="form-group py-2">
      <input type="text" class="form-control w-100" placeholder="Email Address" />
    </div>
    <div class="form-group py-2">
      <input type="text" class="form-control w-100" placeholder="Phone Number" required />
    </div>

    <div class="form-group py-2">
      <input type="text" class="form-control w-100" placeholder="city" />
    </div>
    <div class="form-group py-2">
      <input type="text" class="form-control w-100" placeholder="street" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control w-100" placeholder="Zip Code" />
    </div>
    <div class="form-group py-2">
      <input type="text" class="form-control w-100" placeholder="Type Project " />
    </div>

    <div class="form-group py-2">
      <textarea class="form-control" placeholder="project Description">
      </textarea>
    </div>
    <div class="d-flex alingn-items-center justify-content-center py-2">
      <button>Get free estimate</button>
    </div>
    <p>Terms and Conditions | Privacy Policy</p>
  </form>
</div>