.promotions {
  .container {
    .row {
      .content {
        h2 {
          color: #003057;
          font-size: 22px;
          font-weight: bold;
          font-family: 'Oswald';
        }

        ul {
          li {
            u {
              color: #FD6B04;
              font-weight: bold;
            }
          }
        }

        p {
          a {
            color: #FD6B04;
          }
        }
      }


    }
  }
}