<section class="promotions">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 content">
        <h2>Transform Your Home with Century City Baths and Windows' Limited Time Offers!</h2>
        <br>
        <p>At Century City Baths and Windows we are dedicated to providing you with professional services and products
          for your home projects. Our team of experts has years of experience and knowledge to help you transform your
          bathroom and windows into the perfect space you've always dreamed of.<br><br>For a limited time only, we are
          excited to offer you these amazing deals:</p>
        <ul>
          <li><strong>$2500 Off Tub to Shower Conversion:</strong> Whether you're looking to update your bathroom or
            simply upgrade your
            bathtub to a new shower, we've got you covered. Convert your tub into a new modern shower and we'll give you
            $2500 Off! Don't miss out on this incredible offer!</li>
          <br>
          <li><strong>$2500 Off for 12+ Windows:
            </strong>Tired of drafty windows and high energy bills? Let us help you upgrade
            to energy-efficient windows that will not only save you money but also add value to your home. Purchase 12
            or more windows and receive a whopping $2500 off your purchase.</li><br>
          <li><u href="">12 Months, No Interest, No Payments or 18 Months 0% Equal Payments:</u> We understand that home
            renovations
            can be a big investment. That's why we're offering 12 months of no interest and no payments, so you can get
            the bathroom and windows of your dreams without any financial stress.</li><br><br>
        </ul>
        <p>But hurry! These special offers are only available for a limited time. And remember, our specials change, so
          be sure to come back often to see new deals and opportunities to save.</p>

        <p> <strong>At Century City Baths and Windows, we are committed to helping you make your home the best it can
            be. <a href=""> Contact us</a>
            today to take advantage of these incredible offers and start your home renovation journey with
            us.</strong></p>
      </div>
      <div class="col-4  d-lg-flex d-md-none align-items-center justify-content-center  "><img
          src="../../../assets/home/logo2.png" alt="" class="w-50"></div>
    </div>
  </div>
</section>