<section class="bathtub-replacement">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>The Heart of the Home</h2>
        <p>
          At Century City Kitchens, we recognize that the kitchen is the heart
          of the home—a place where meals are prepared, memories are made, and
          moments are shared. Our design and planning process is rooted in
          collaboration, where our expert designers work intimately with you to
          understand your vision, lifestyle, and unique preferences. We take the
          time to explore your daily routines, the flow of your space, and the
          aesthetic details that resonate with you.
        </p>
        <br />
        <h2>From Consultation to Completion</h2>
        <p>
          From initial consultations to final renderings, we ensure that every
          aspect of your kitchen reflects your personal style and functional
          needs. Our designs incorporate cutting-edge technology and innovative
          solutions to create a space that is not only visually stunning but
          also intuitively practical. Whether it’s maximizing storage, creating
          seamless transitions between kitchen zones, or integrating the latest
          smart appliances, we meticulously plan every detail. The result is a
          kitchen that is not just a room, but a bespoke space crafted to
          enhance your daily life.
        </p>
        <h2>Timeless Yet Contemporary</h2>
        <p>
          At Century City Kitchens, we are committed to delivering designs that
          are timeless yet contemporary, blending classic craftsmanship with
          modern trends. Our planning process includes comprehensive 3D
          modeling, allowing you to visualize your kitchen before construction
          begins, ensuring that every detail is perfect. With our expertise,
          your dream kitchen is within reach, combining beauty, functionality,
          and innovation in perfect harmony.
        </p>
        <h2>Get a FREE Quote</h2>
        <p>
          Are you ready to bring energy-efficient windows to your Chicagoland
          area home? Contact us today to schedule a free estimate.
        </p>
        <h3>Learn More About our Replacement Window Options:</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/Energy-Efficient">
              Design & Planning
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Double-Hung">
              Custom Cabinetry
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Casement-Replacement">
              Premium Materials
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Bay-and-Bow">
              Innovative Solutions
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Sliding-Replacement">
              Countertops
            </button>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>
