<section class="bathtub-replacement">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>Lower Your Utility Costs with New Replacement Windows</h2>
        <p>
          If you are like most homeowners in the Chicagoland area, you probably
          do not realize how much money gets wasted each month due to
          inefficient windows, especially if your windows are older than 10
          years. Replacing them with a more energy-efficient option is an
          effective way to help minimize spending on energy expenses.
        </p>
        <br />
        <h2>How Can Energy-Efficient Window Save You Money?</h2>
        <p>
          The biggest benefit of energy-efficient windows is their ability to
          keep your home’s temperatures more consistent and comfortable
          year-round. Not all windows provide the same level of energy
          efficiency, however, at Century City Baths & Windows our top priority
          is providing you with the energy efficiency options at a reasonable
          price.
        </p>
        <h2>Choosing the Ideal Windows for Your Home</h2>
        <p>
          As you explore your window options, you might begin to feel a little
          stumped. After all, there are so many excellent options it can be easy
          to get lost among them. Fortunately, the team at Century City Baths &
          Window is here to help you select the ideal windows for your home. We
          take all of the factors into consideration, such as price, quality,
          features, and maintenance and will help you select the best energy
          efficient replacement windows. We value your complete satisfaction and
          in addition to offering quality products and services, our crews are
          professional and respectful to your needs. Giving you an experience
          that is both pleasant and hassle-free.
        </p>
        <h2>Get a FREE Quote</h2>
        <p>
          Are you ready to bring energy-efficient windows to your Chicagoland
          area home? Contact us today to schedule a free estimate.
        </p>
        <h3>Learn More About our Replacement Window Options:</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/Double-Hung">
              Double Hung Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Casement-Replacement">
              Casement Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/shower-to-tub">
              Slider Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Bay-and-Bow">
              Bay/Bow Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Shapes-and-Picture">
              Fixed/Picture Windows
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/Patio-Door">Patio Doors</button>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>
