<section class="reviews py-3">
  <div class="embedsocial-hashtag" data-ref="3c21059735f62f96697a8597f9a23bc805ecdbeb"></div>

  <div class="review d-flex justify-content-center align-items-center">
    <div class="widget" id="tt-review-widget-star">
      <img src="https://cdn.thumbtackstatic.com/fe-assets-web/media/logos/thumbtack/wordmark.svg" alt="Thumbtack"
        class="tt-logo" />
      <a target="_blank"
        href="https://www.thumbtack.com/il/bensenville/bathroom-remodeling/century-city-baths-windows/service/402701430322864134">
        <div>Century City Baths and Windows</div>
      </a>
      <div id="tt-dynamic">
        <img
          src="https://cdn.thumbtackstatic.com/fe-assets-web/media/pages/profile/standard-widgets/review-widget/orange_star.svg"><img
          src="https://cdn.thumbtackstatic.com/fe-assets-web/media/pages/profile/standard-widgets/review-widget/orange_star.svg"><img
          src="https://cdn.thumbtackstatic.com/fe-assets-web/media/pages/profile/standard-widgets/review-widget/orange_star.svg"><img
          src="https://cdn.thumbtackstatic.com/fe-assets-web/media/pages/profile/standard-widgets/review-widget/orange_star.svg"><img
          src="https://cdn.thumbtackstatic.com/fe-assets-web/media/pages/profile/standard-widgets/review-widget/grey_star.svg"><span>30
          reviews</span>
      </div>
      <script
        src="https://www.thumbtack.com/profile/widgets/scripts/?service_pk=402701430322864134&widget_id=review&type=star"></script>
    </div>

    <div
      style="background: #f1f2f2; border: 1px solid #ccc; border-radius: 3px; padding: 0 15px 10px; margin: 0 auto; width: 70%; height: 310px; overflow: hidden; box-sizing: border-box;">
      <div style="border-bottom: 1px solid #d7d7d7; margin: 0 -15px 10px;">
        <img alt="Review Pros" src="//cdn2.homeadvisor.com/images/consumer/home/ha-logo-title.png" width="185"
          style="float: left; margin: 10px 0 0 20px;">
        <h2
          style="background: #3d4549; color:#fff; margin: 0; padding: 11px 27px 9px; float:right; text-align: center; font-family: helvetica, arial, san-serif;">
          RATINGS & REVIEWS</h2>
        <div style="clear: both;"></div>
      </div>


      <iframe src="https://www.homeadvisor.com/ratings/embed/iframe/94368353/?orientation=horizontal&reviewSort=recent"
        style="width: 100%; height: 215px; background: transparent;" frameborder="0" scrolling="no"></iframe>

      <a href="http://www.homeadvisor.com/rated.DeBoerRemodeling.94368353.html"
        style="color: #5486a3; float: right; font-size: 11px; font-family: helvetica, arial, san-serif; text-align: center; text-decoration: none;">See
        More Reviews of Century City Baths on HomeAdvisor</a>
    </div>
  </div>


  <div class="review d-flex align-items-center justify-content-center my-4 ">
    <a href="http://www.homeadvisor.com/rated.DeBoerRemodeling.94368353.html"
      style="display: block; margin: 0 auto;"><img alt="HomeAdvisor Screened Pro" style="display:block;"
        src="http://www.homeadvisor.com/images/sp-badges/soap-solid-border.png?sp=94368353&key=e99f3f12895de4faad15a84b608bded5" /></a>

    <a href="http://www.homeadvisor.com/c.Additions-Remodeling.Bensenville.IL.-12001.html#spid=94368353"
      style="display: block; margin: 0 auto;"><img alt="Top Rated Contractor - Century City Baths"
        style="display:block;"
        src="http://www.homeadvisor.com/images/sp-badges/toprated-solid-border.png?sp=94368353&key=e99f3f12895de4faad15a84b608bded5" /></a>

    <a href="http://www.homeadvisor.com/c.Additions-Remodeling.Bensenville.IL.-12001.html#spid=94368353"
      style="display: block; margin: 0 auto;"><img alt="HomeAdvisor Elite Service Award - Century City Baths"
        style="display:block;"
        src="http://www.homeadvisor.com/images/sp-badges/elite-solid-border.png?sp=94368353&key=e99f3f12895de4faad15a84b608bded5" /></a>
  </div>
</section>