<section class="bathtub-replacement">
  <div class="container">
    <div class="row ">
      <div class="col-lg-7 col-md-12">

        <app-page-content></app-page-content>

        <div class="row d-flex align-items-center d-flex gap-3 flex-wrap">
          @for (item of bathroomImages; track $index) {
          <div class="col-3"><img [src]="item" alt="" width="200" height="200"></div>
          }
        </div>


      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>