<section class="bathtub-replacement">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>Bathtub Looking a Bit Tired? Outdated?</h2>
        <p>
          The age of your bathroom can dramatically affect the look of your space. An outdated bathroom can set even
          the most modern renovation back by years. When it comes to bathroom replacement in the Chicagoland area, look
          no further than the remodeling pros at Century City Baths and Windows. You can have peace of mind, with our
          waterproof installation guarantee.
        </p>
        <br />
        <h2>Benefits of Having an updated Bathroom:</h2>
        <ul>
          <li>
            <strong>Bathing young children: </strong> It is almost impossible to
            bathe the little ones without a tub. Most people will install a tub
            if they do not have one for this reason.
          </li>
          <li>
            <strong>Improves the look of your bathroom:</strong> Bathtubs do
            tend to take up their fair share of space in a bathroom, but they
            can also serve as the main focal point when installed correctly.
            Additionally, it can significantly increase the value of your home.
          </li>

          <li>
            <strong>Provides you with pain relief:</strong> If you have a
            variety of aches and pains that slow you down each day, you can take
            care of most of them with a bathtub. Hot water in a bathtub can help
            with chronic and acute pain.
          </li>
          <li>
            <strong>Allows for easier breathing:</strong> spending some time
            sitting in a tub can make breathing easier due to a cold or another
            health condition.
          </li>
        </ul>

        <p>
          Whether you are looking to install a tub, a full bath, or simply a new style, you can rely on our
          installation experts to take care of all facets of your new bathroom. We have the knowledge, skills, and
          experience to perform all the work needed.<br> <br>
          There’s no reason to delay any longer. Whether you’re replacing your bathroom for style or for function, you
          can rely on our remodeling professionals to deliver you your dream bathroom with ease. Call Century City Baths
          and Windows to get started or fill out our online form to schedule your FREE consultation and get your in-home
          estimate today! Call (309) 487-2105.

        </p>

        <h3>Full-Service Bathroom Remodeling Services</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/bathtub-replacement">
              Bathtub replacement
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/walk-in-showers">
              Walk-in showers
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/shower-to-tub">
              Shower conversions
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/flooring">Renovations</button>
          </li>
          <li><button class="btn" routerLink="/flooring">Flooring</button></li>
          <li><button class="btn" routerLink="/flooring">And more!</button></li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>