/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


body {
  font-family: 'Open Sans', 'Oswald';

}

a {
  text-decoration: none;
  white-space: nowrap;

}