<footer class="footer bg-light py-5">
  <div class="container">
    <div
      class="row justify-content-center align-items-center d-flex flex-wrap py-2"
    >
      <div class="col-md-3">
        <img src="../../../assets/home/logo2.png" alt="" class="w-50" />
        <h4>312-212-0698</h4>
        <button>Service Request</button>
      </div>
      <div class="col-md-2">
        <h5>Products</h5>
        <p class="p-0 m-0">Bathrooms</p>
        <p class="p-0 m-0">Windows</p>
      </div>

      <div class="col-md-2">
        <h5>SERVING AREA</h5>
        <p class="p-0 m-0">Chicago and Chicagoland Surrounding Areas</p>
      </div>

      <div class="col-md-3">
        <h5>CONTACT US</h5>
        <p class="p-0 m-0"><strong>Main Phone:</strong> (312) 212-0698</p>
        <p class="p-0 m-0"><strong>Alternate Phone:</strong> (312) 212-0698</p>
      </div>
      <div class="col-md-2">
        <h5>Company</h5>
        <p class="p-0 m-0" routerLink="about-us">About</p>
        <p class="p-0 m-0" routerLink="/gallery">Gallery</p>
        <p
          class="p-0 m-0"
          routerLink="/Privacy-Policy"
          routerLinkActive="router-link-active"
        >
          Privacy Policy
        </p>
      </div>
    </div>
  </div>
</footer>
