<section class="walk-in-showers">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>
          Convert Your old bathroom into a More Usable Space With a new bathroom
        </h2>
        <p>
          Century City Baths and Windows can help! We are a highly rated bathroom remodeling company that can update
          your old bathroom with a beautiful new replacement, designed just for your home. We'll schedule a no-cost,
          no-obligation consultation and help you choose the best materials for your shower space. We guarantee every
          installation to last with our waterproof tiling system, ensuring a stunning bathroom you’ll love for years to
          come.
        </p>
        <br />
        <p>
          To find out more, just call us today!
          <a href="tel:+(309) 487-2105">(309) 487-2105</a> Additionally, a new bathroom will provide:
        </p>
        <ul>
          <li>
            <strong>Improved Safety :</strong>Bathing can be a challenge if you
            have mobility issues or are simply concerned about slipping and
            falling on a wet surface. A low or no threshold shower makes it
            easier to enter and exit, and built-in seats give you a comfortable
            place to rest while bathing.
          </li>
          <li>
            <strong>Custom design: </strong>no matter if you are looking for a
            modern, sleek appearance, or a traditional, classic look, we have
            the style options for you. You can customize your shower to reflect
            your aesthetic preference and functional needs.
          </li>
          <li>
            <strong>Quick & Affordable: </strong>With our professional
            installers and our waterproof tiling system, we get the job done
            fast at a great price. And we offer a lifetime warranty!
          </li>
        </ul>
        <p>
          Complete your bathroom remodel with a beautiful window installed by our trained experts. If you’ve been
          considering window for your remodeling project, call us now at <a href="tel:+(309) 487-2105">(309)
            487-2105</a> or fill out our online form, and
          we will schedule your free estimate.
        </p>
        <br />

        <p>
          If you’ve been considering a walk-in shower for your remodeling
          project, call us now at (309) 487-2105 or fill out our online form,
          and we will schedule your free estimate.
        </p>
        <h3>Full-Service Bathroom Remodeling Services</h3>
        <ul class="list-unstyled">
          <li>
            <button class="btn" routerLink="/bathtub-replacement">
              Bathtub replacement
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/walk-in-showers">
              Walk-in showers
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/shower-to-tub">
              Shower conversions
            </button>
          </li>
          <li>
            <button class="btn" routerLink="/flooring">Renovations</button>
          </li>
          <li><button class="btn" routerLink="/flooring">Flooring</button></li>
          <li><button class="btn" routerLink="/flooring">And more!</button></li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>