<section class="walk-in-showers">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2>Convert Your Bath into a More Usable Space With a Step-In Shower.</h2>
        <p>Do you dislike taking a shower or bath in a dingy, outdated tub? If so, Century City Baths and Windows can
          help! We are a highly rated bath remodeling company that can update your bathroom with a beautiful new
          replacement shower, designed just for your home. We'll schedule a no-cost, no-obligation consultation and help
          you choose the best materials for your shower space. We guarantee every installation to last with our
          waterproof tiling system, ensuring a stunning shower space you’ll love for years to come.</p>
        <br>
        <p>To find out more, just call us today! (312) 212-0698 shower, designed just for your home.

          Additionally, a new shower will provide:</p>
        <ul>
          <li><strong>Improved Safety :</strong>Bathing can be a challenge if you have mobility issues or are simply
            concerned about slipping and falling on a wet surface. A low or no threshold shower makes it
            easier to enter and exit, and built-in seats give you a comfortable place to rest while bathing.</li>
          <li><strong>Custom design: </strong>no matter if you are looking for a modern, sleek appearance, or a
            traditional,
            classic look, we have the style options for you. You can customize your shower to reflect your

            aesthetic preference and functional needs.</li>
          <li><strong>Quick & Affordable: </strong>With our professional installers and our waterproof tiling system, we
            get the job done fast at a great price. And we offer a lifetime warranty!</li>
        </ul>
        <p>Complete your shower remodel with a beautiful shower door installed by our trained experts. Choose from our
          selection of sliding glass doors, pivoting doors, and bath screens to create the exact style and level of
          privacy you need. All our doors are made with the highest-quality glass and hardware, so you get a stunning
          addition to your shower installation that will last for years.</p><br>

        <p>If you’ve been considering a walk-in shower for your remodeling project, call us now at (312) 212-0698 or
          fill out our online form, and we will schedule your free estimate.</p>
        <h3>Full-Service Bathroom Remodeling Services</h3>
        <ul class="list-unstyled ">
          <li><button class="btn" routerLink="/bathtub-replacement"> Bathtub replacement</button></li>
          <li> <button class="btn" routerLink="/walk-in-showers">Walk-in showers</button></li>
          <li><button class="btn" routerLink="/shower-to-tub">Shower conversions</button></li>
          <li><button class="btn" routerLink="/flooring">Renovations</button></li>
          <li><button class="btn" routerLink="/flooring">Flooring</button></li>
          <li><button class="btn" routerLink="/flooring">And more!</button></li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 left">
        <app-side-panel></app-side-panel>
      </div>
    </div>
  </div>
</section>
<app-services></app-services>